// COLORS
$color-primary: #55b7ff; 
$color-secondary: #7d59ff;
$color-white: #fff;
$color-dark: #2c4058;
$color-grey: #4b5562;

// GRID
$grid-width-max: 117rem;
$grid-width-bigger: 125rem;
$gutter-horizontal: 3rem;
$small-container-width: 77rem;

// MOBILE-MENU
$hamburger-y: 4rem;
$hamburger-x: 4rem;
$hamburger-size: 4rem;




